<div class="container-fluid position-sticky top-0 text-bg-dark z-3">

	<nav class="navbar navbar-expand  navbar-dark">

		<div class="navbar-toggle m-2">
			<img src="https://tofuu.getjusto.com/orioneat-local/resized2/HvdCsS2fWwRumyTbE-200-x.webp"
				width="100px" height="80px" />
		</div>

		<ul class="navbar-nav ">
			<li class="nav-item">
				<div class="" role="button" data-bs-toggle="dropdown">
					<a class="nav-link">ADMIN</a>
				</div>

				<div class="dropdown  ">
					<ul class="dropdown-menu dropdown-menu-dark">
						<li class="dropdown-item">
							<a class="nav-link" href="/listaUsuario">USUARIO</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link" href="/listaColaborador">COLABORADOR</a>
						</li>

						<li class="dropdown-item">
							<a class="nav-link" th:href="@{/listaProducto/{rol}(rol=colaborador)}">PRODUCTO</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link" th:href="@{/reporte/producto}">REPORTE PRODUCTO</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/index">INICIO</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" th:href="@{/listaProducto/{rol}(rol='cliente')}">CARTA</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/listaPedido}">PEDIDO</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/listaCompra}">COMPRAS</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/comentario" data-bs-toggle="offcanvas" data-bs-target="#comentarios">COMENTARIOS</a>
			</li>
			
		</ul>

		<div class="d-flex ms-auto">
			<a class="mt-auto mx-3 text-decoration-none" th:href="@{/carroCompra}">
				<img src="https://storage.googleapis.com/camaracomercio/assets/img/imgCart/cart.png" width="40px"
					height="40px" />
			</a>

			<div class="dropdown  mx-3">

				<div class="dropdown-toggle d-flex align-items-center" role="button" data-bs-toggle="dropdown">
					<img th:if="${session.usuario}!=null" th:src="@{'data:image;base64,' + ${session.imagen}}"
						width="60px" heigth="60px">
					<img th:if="${session.usuario}==null"
						src="https://cdn.pixabay.com/photo/2012/04/13/21/07/user-33638_1280.png" width="60px"
						heigth="60px">
					<div class="ms-3">
						<h5 th:if="${session.usuario}==null" class="m-0">USUARIO</h5>
						<h5 th:if="${session.usuario}!=null" class="m-0" th:text="${session.usuario.nomUsuario}"></h5>
					</div>

				</div>

				<ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">

					<li th:if="${session.usuario}!=null" class="">
						<a class="dropdown-item" th:href="@{/actualizaUsuario/{id}(id=${session.usuario.idUsuario})}">DATOS</a>
					</li>
					<li th:if="${session.usuario}!=null" class="">
						<a class="dropdown-item" href="/listaDirentrega_usuario">DIRECCION DE ENTREGA</a>
					</li>
					<li th:if="${session.usuario}==null" class="">
						<a class="dropdown-item" href="/logout">INICIAR SESION</a>
					</li>
					<li th:if="${session.usuario}!=null" class="">
						<a class="dropdown-item" href="/logout">CERRAR SESION</a>
					</li>
					<li th:if="${session.usuario}!=null" >
						<a class="dropdown-item" href="/comentario">ENVIAR COMENTARIOS</a>
					</li>
				</ul>

			</div>
		</div>

	</nav>

</div>


<div>
	
	<div class="offcanvas offcanvas-end "  id="comentarios">
		
		<div class="offcanvas-header">
			<h5 class="offcanvas-title">LISTA DE COMENTARIOS</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div th:insert="comentario::fragComentarios"></div>
		</div>
		
	</div>
	
</div>










